# Fuzzer build output (probe/runner binaries, module cache) written by SwiftSyntaxFuzzer/bin/build.sh
SwiftSyntaxFuzzer/.build/

# Per-user Xcode state (breakpoints, scheme management, UI state)
xcuserdata/
